{% extends "adminbase.html" %}
{% block content %}
<!-- display a form to collect new member information -->
<!-- teaminfo passed in from server -->
<!-- display the chosen team information for reference -->
<!-- collect all form information from browser
    and send it off by POST, along with teamid 
    to the URL that will add the data to the members table -->

<h2>Add a Member to the Chosen Team</h2>

<table>
    <tr><th>Team ID</th><th>Team Name</th></tr>
    {% for team in teaminfo %}
        <tr>
            {% for entry in team %}
                <td>{{entry}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<form action="/admin/addtomembers/{{ teaminfo[0][0] }}" method="post">
    <label for="firstname">First Name:</label>
    <input type="text" name="firstname" pattern="[a-zA-Z]+" required/>
    <label for="lastname">Last Name:</label>
    <input type="text" name="lastname" pattern="[a-zA-Z]+" required/>
    <label for="city">City:</label>
    <select name="city">
        <option value="Auckland">Auckland</option>
        <option value="Wellington">Wellington</option>
        <option value="Christchurch">Christchurch</option>
        <option value="Queenstown">Queenstown</option>
        <option value="Other parts of NZ">Other parts of NZ</option>
    </select>
    <label for="birthdate">Birthdate:</label> 
    <input type="date" name="birthdate" required/>
    
    <input type="submit" value="Submit">
</form>

{% endblock %}