{% extends "adminbase.html" %}
{% block content %}
<!-- code in here to -->
<h2>Add Members and Events</h2>

<!-- send it to the url 
    that updates the member and event information 
    which then redirects to displaying the newly added data -->
<form action="/admin/updatemembersandevents" method="post">
    <label for="firstname">First Name:</label>
    <input type="text" name="firstname" pattern="[a-zA-Z]+" required/>
    <label for="lastname">Last Name:</label>
    <input type="text" name="lastname" pattern="[a-zA-Z]+" required/>
    <label for="city">City:</label>
    <select name="city">
        <option value="Auckland">Auckland</option>
        <option value="Wellington">Wellington</option>
        <option value="Christchurch">Christchurch</option>
        <option value="Queenstown">Queenstown</option>
        <option value="Other parts of NZ">Other parts of NZ</option>
    </select>
    <label for="birthdate">Birthdate:</label> 
    <input type="date" name="birthdate" required/>
    <br>
    <label for="eventname">Event Name:</label>
    <input type="text" name="eventname" pattern="[a-zA-Z0-9\s]+" required/>
    <label for="sport">Sport:</label>
    <input type="text" name="sport" pattern="[a-zA-Z\s]+" required/>
    <input type="submit" value="Submit">
</form>

{% endblock %}