{% extends "adminbase.html" %}
{% block content %}
<!-- memberinfo，stageinfo passed in from server -->
<!-- display memberinfo and stageinfo for reference -->
<!-- collect all form information from browser
    and send it off by POST, along with stageid and memberid 
    to the URL that will add the data to the results table -->

<h2>Add A Result To The Chosen Member And Stage</h2>

<table>
    <tr><th>Member ID</th><th>Team ID</th><th>First Name</th><th>Last Name</th><th>City</th><th>Birthdate</th></tr>
    {% for member in memberinfo %}
        <tr>
            {% for entry in member %}
                <td>{{entry}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<table>
    <tr><th>Stage ID</th><th>Stage Name</th><th>Event ID</th><th>Location</th><th>Stage Date</th><th>Qualifying</th><th>Points To Qualify</th></tr>
    {% for stage in stageinfo %}
        <tr>
            {% for entry in stage %}
                <td>{{entry}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<form action="/admin/addtoresults/{{ stageinfo[0][0] }}/{{ memberinfo[0][0] }}" method="post">
    <label for="pointsscored">Points Scored:</label>
    <input type="text" name="pointsscored" pattern="[0-9]+(\.[0-9])?" required/>
    <label for="position">Position:</label>
    
    <select name="position">
        {% if stageinfo[0][5] == 1 %}
            <option value="none">None</option>
        {% elif stageinfo[0][5] == 0 %}
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        {% endif %}
    </select>

    <input type="submit" value="Submit">
</form>

{% endblock %}