{% extends "adminbase.html" %}
{% block content %}
<!-- display a form to collect new stage information -->
<!-- eventinfo passed in from server -->
<!-- display eventinfo for reference -->
<!-- collect all form information from browser
    and send it off by POST, along with eventid 
    to the URL that will add the data to the stage table -->

<h2>Add a Stage to the Chosen Event</h2>

<table class="table">
    <thread>
    <tr><th>Event ID</th><th>Event Name</th><th>Sport</th><th>NZ Team</th></tr>
    </thead>
    <tbody>
    {% for event in eventinfo %}
        <tr>
            {% for entry in event %}
                <td>{{entry}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

<form action="/admin/addtostages/{{ eventinfo[0][0] }}" method="post">
    <label for="stagename">Stage Name:</label>
    <select name="stagename">
        <option value="Heat 1">Heat 1</option>
        <option value="Qualification">Qualification</option>
        <option value="Final">Final</option>
    </select>
    <label for="location">Location:</label>
    <select name="location">
        <option value="Genting Snow Park">Genting Snow Park</option>
        <option value="Shougang">Shougang</option>
        <option value="Other Locations">Other Locations</option>
    </select>
    <label for="stagedate">Stage Date:</label> 
    <input type="date" name="stagedate" required/>
    <label for="pointstoqualify">Points to Qualify:</label>
    <input type="text" name="pointstoqualify" pattern="[0-9]+(\.[0-9])?" required/>

    <input type="submit" value="Submit">
</form>

{% endblock %}









