{% extends "adminbase.html" %}
{% block content %}
<!-- eventlist passed in from server for display -->
<!-- append eventid to the URL on click which gets hold of 
    related information of the chosen id -->

<h2>Event List</h2>
<h3>Click On Event ID To Add A Stage To</h3>

<table>
    <tr><th>Event ID</th><th>Event Name</th><th>Sport</th><th>NZ Team</th></tr>
    {% for event in eventlist %}
        <tr>
            <td><a href="/admin/addstage/{{ event[0] }}">{{ event[0] }}</a></td>
            <td>{{ event[1] }}</td>
            <td>{{ event[2] }}</td>
            <td>{{ event[3] }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}