{% extends "adminbase.html" %}
{% block content %}
<!-- display a list of members -->
<!-- memberlist passed in from server for display -->
<!-- append memberid to the URL on click which updates  
    information of the chosen id -->

<h2>Member List</h2>
<h3>Click on Member ID to Edit Information</h3>

<table class="table">
    <thread>
    <tr><th>Member ID</th><th>Team ID</th><th>First Name</th><th>Last Name</th><th>City</th><th>Birthdate</th></tr>
    </thread>
    <tbody>
    {% for member in memberlist %}
        <tr>
            <td><a href="/admin/editmember/{{ member[0] }}">{{ member[0] }}</a></td>
            <td>{{ member[1] }}</td>
            <td>{{ member[2] }}</td>
            <td>{{ member[3] }}</td>
            <td>{{ member[4] }}</td>
            <td>{{ member[5] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}