{% extends "adminbase.html" %}
{% block content %}
<!-- display a list of stages -->
<!-- memberid and stagelist passed in -->
<!-- display stagelist information -->
<!-- append memberid and the chosen stageid on click
    to the URL which gets hold of related information
    of the chosen ids-->

<h2>Stage List</h2>
<h3>Click on Stage ID to Add a Result to</h3>

<table class="table">
    <thread>
    <tr><th>Stage ID</th><th>Stage Name</th><th>Event ID</th><th>Location</th><th>Stage Date</th><th>Qualifying</th><th>Points To Qualify</th></tr>
    </thread>
    <tbody>
    {% for stage in stagelist %}
        <tr>
            <td><a href="/admin/addresult/{{ stage[0] }}/{{ memberid }}">{{ stage[0] }}</a></td>
            <td>{{ stage[1] }}</td>
            <td>{{ stage[2] }}</td>
            <td>{{ stage[3] }}</td>
            <td>{{ stage[4] }}</td>
            <td>{{ stage[5] }}</td>
            <td>{{ stage[6] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}