{% extends "adminbase.html" %}
{% block content %}
<!-- code in here to display a list of events -->
<!-- eventlist is the variable passed in containing list of events -->
<!-- eventlist.html shares the same template as memberlist.html -->
<h2>Event List</h2>
<h3>click on the event id to add a stage to it</h3>

<table>
    <tr><th>Event ID</th><th>Event Name</th><th>Sport</th><th>NZ Team</th></tr>
    {% for event in eventlist %}
        <tr>
            <td><a href="/admin/addstage/{{ event[0] }}">{{ event[0] }}</a></td>
            <td>{{ event[1] }}</td>
            <td>{{ event[2] }}</td>
            <td>{{ event[3] }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}