{% extends "adminbase.html" %}
{% block content %}
<!-- display a list of stages -->
<!-- stagelist passed in for display and verification -->

<h2>Stage List</h2>

<table class="table">
    <thread>
    <tr><th>Stage ID</th><th>Stage Name</th><th>Event ID</th><th>Location</th><th>Stage Date</th><th>Qualifying</th><th>Points To Qualify</th></tr>
    </thread>
    <tbody>
    {% for stage in stagelist %}
        <tr>
            {% for entry in stage %}
                <td>{{entry}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}