{% extends "adminbase.html" %}
{% block content %}
<!-- code in here to display a list of members
MemberID, m.FirstName, m.LastName, m.City, m.Birthdate, \
                       e.EventName, e.Sport-->
<h2>Member List</h2>
<h3>Click on Member ID to Edit Information</h3>

<table>
    <tr><th>Member ID</th><th>First Name</th><th>Last Name</th><th>City</th><th>Birthdate</th><th>Event Name</th><th>Sport</th></tr>
    {% for member in memberlist %}
        <tr>
            <td><a href="/admin/editmembers/{{ member[0] }}">{{ member[0] }}</a></td>
            <td>{{ member[1] }}</td>
            <td>{{ member[2] }}</td>
            <td>{{ member[3] }}</td>
            <td>{{ member[4] }}</td>
            <td>{{ member[5] }}</td>
            <td>{{ member[6] }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}