{% extends "base.html" %}
{% block content %}
<!-- display a list of events -->
<!-- eventlist passed in from server for display -->

<h2>Event List</h2>
<h3>A List of all NZ Olympic Events</h3>

<table>
    <tr><th>Event ID</th><th>Event Name</th><th>Sport</th><th>NZ Team</th></tr>
    {% for event in eventlist %}
        <tr>
            {% for entry in event %}
                <td>{{entry}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{% endblock %}