{% extends "base.html" %}
{% block content %}
<!-- display a list of upcoming and past events, if any -->
<!-- membername, futureeventlist, pasteventlist passed in from server-->
<h2>{{membername}}</h2>
<h3>Upcoming Events and Stages</h3>
<table>
    {% for events in futureeventlist %}
        <tr>
            {% for entry in events %}
                <td>{{entry}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<!-- code in here to display a list of past events-->
<h3>Previous Results</h3>
<table>
    {% for events in pasteventlist %}
        <tr>
            {% for entry in events %}
                <td>{{entry}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{% endblock %}