{% extends "base.html" %}
{% block content %}
<!-- display a list of members-->
<!-- memberlist passed in containing a list of members -->
<!-- append memberid to the URL on click which gets hold of related information to that id -->

<h2>Member List</h2>
<h3>A List of all NZ Olympic Team Members</h3>

<table>
    <tr><th>Member ID</th><th>Team Name</th><th>Full Name</th><th>City</th><th>Birthdate</th></tr>
    {% for member in memberlist %}
        <tr>
            <td>{{ member[0] }}</td>
            <td>{{ member[1] }}</td>
            <td><a href="/memberevent/{{ member[0] }}">{{ member[2] }}</a></td>
            <td>{{ member[3] }}</td>
            <td>{{ member[4] }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}