{% extends "adminbase.html" %}
{% block content %}
<!-- report on total nembers of gold, silver, and bronze, and their winners -->  
<!-- goldnum, silvernum, bronzenum, goldwinnerlist, silverwinnerlist, bronzewinnerlist passed in -->

<h2>Medal Report</h2>

<h3>Total number of gold: {{ goldnum }} </h3>
<table>
    <tr><th>Winners</th><th>Number of Gold Medals</th></tr>
    {% for winner in goldwinnerlist %}
        <tr>
            {% for entry in winner %}
                <td>{{entry}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<h3>Total number of silver: {{ silvernum }} </h3>
<table>
    <tr><th>Winners</th><th>Number of Silver Medals</th></tr>
    {% for winner in silverwinnerlist %}
        <tr>
            {% for entry in winner %}
                <td>{{entry}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

<h3>Total number of bronze: {{ bronzenum }} </h3>
<table>
    <tr><th>Winners</th><th>Number of Bronze Medals</th></tr>
    {% for winner in bronzewinnerlist %}
        <tr>
            {% for entry in winner %}
                <td>{{entry}}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{% endblock %}